/*Ambitions*/
html, body{
  height: 95%;
  width: 95%;
  background-color: black;
  color: white;
}

body {
    text-align: center;
}

a:hover{
  box-shadow: #1e90ff 0px 0px 24px 2px;
}

a:visited{
  background-color: #1e90ff!important;
}

a {
  color: #1e90ff;
  text-decoration: none;
}
