body {
    text-align: center;
    background-color: black;
    color: white!important;
}

article {
 /*   border: 5px;
    margin: 5px;*/
}

html,
body {
  height: 100%;
}

a:hover{
  background-color: #1e90ff!important;
}

a:visited{
  background-color: #1e90ff!important;
}
/* Wrapper for page content to push down footer */
/*try this on a long page and see the difference*/
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

/*footer stop*/
img#mainpic{
  width: 100%;
  /*width: 124%;
  position: relative;
  right: 12%;*/
  

}
#switchPic{
    /*border: 20px solid orange;
    border-radius: 30px;
    width: 30%;
    height: 60%;
    float: left;*/
}


nav {
    background-color: #357EC7!important;
    border: 2px solid white!important;
}

nav li a{
      color:white!important;
    }

small{
    font-size: 0.09em;
}

a {
  color: orange;
}

#underNav{
  float: left;
  position: absolute;
  /*border: 3px solid white;*/
  font: 20pt solid white;
}

.itemExists {
        width: 100px;
        height: 100px;
        border: 2px solid black;
    }

.blackout{
  background-color: black!important;
  color: black!important;
}

.visible{
  visibility: visible!important;
}

.invisible{
  visibility: hidden!important;
}

iframe[seamless] {
    border: none;
    width: 100%;
}

#quickFacts{
  text-align: left;
  float: right;
  position: relative;
  top: 14px;
  font-size: 17px;
  line-height: 30pt;  
}
.imgborder {
    border: 5px;
    margin: 5px;
}

.overlayText{
  position: absolute;
  color: red;
  font-size: 58pt;
  border: 10px solid black;
  padding: 1%;
}

#fname{
  left: 3%;
}

#lname{
  left: 8%;
  top: 29%;
}

#enter{
  position: absolute;
  color:white;  
  left: 48%;
  top: 3%;
  font-size: 170%
}
